/* Общие стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Arial, sans-serif;
}

/* Контейнер */
.container {
  margin: 0 auto;
  /* padding: 20px 250px; */
  max-width: 1200px;
}

@media (max-width: 1024px) {
  .container {
    padding: 20px 40px;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 20px;
  }

  .nav li {
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .text-main {
    flex-direction: column;
    text-align: center;
  }

  .text-main img {
    max-width: 250px;
    margin-top: 20px;
  }

  .text-min {
    width: 100%;
    font-size: 20px;
  }
}

/* Хедер */
.header {
  width: 100%;
  background-color: #000000;
  color: #fff;
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 100;
  min-height: 100px;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 28px;
}

.icon {}

.text-main {
  padding-top: 150px;
  font-size: 40px;
}

.text-min {
  width: 700px;
  height: 115px;
  margin-top: 30px;
  font-size: 28px;
}

.header .container {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav li {
  display: inline-block;
  margin-left: 80px;
  font-size: 32px;
}

.nav a {
  color: white;
  text-decoration: none;
}

h2 {
  text-align: center;
  color: #e0f7fa;
  padding-top: 30px;
}

/* Разные блоки с разной шириной */
.block-1 {
  margin-top: 0;
  padding-top: 0;
  min-height: 750px;
  background-color: #f9f9f9;

}

.block-2 {
  margin-top: 0;
  padding-top: 0;
  min-height: 750px;
  background: url('img/brown.jpeg') center/cover no-repeat;

}

.training-image {
  display: flex;
  justify-content: center;
  /* Центрируем по горизонтали */
  flex-wrap: wrap;
  /* Перенос строк, если не помещаются */
  gap: 20px;
  /* Отступ между изображениями */
  margin-top: 20px;
}

.block-3 {
  margin-top: 0;
  padding-top: 0;
  min-height: 350px;
  background: rgb(186, 182, 182);
}

.text-3 {
  color: rgb(0, 0, 0);
  font-size: 28px;
  font-weight: 600;
  line-height: 83px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 50px;

}

.block-4 {
  background-color: #f0f0ff;
  padding-top: 50px;
  min-height: 650px;
}

.certificate {
  display: block;
  margin: 15px auto;
  width: 65%;
}

.block-5 {
  background: url('img/brown.jpeg') center/cover no-repeat;
  padding-top: 50px;
  min-height: 350px;
}

.text-4 {
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 600;
  line-height: 83px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 50px;
}

.block-6 {
  background: rgb(186, 182, 182);
  padding-top: 50px;
  min-height: 500px;
}

.text-5 {
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 600;
  line-height: 83px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 50px;
}

.block-7 {
  background: rgb(255, 255, 255);
  padding-top: 50px;
  min-height: 650px;
}

.quetions {
  color: #000000;
}


/* Футер */
.footer {
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 50px 0;
  margin-top: 50px;
  position: relative;
  width: 100%;
  min-height: 100px;
}